body {
  font-family: sans-serif;
  background-color: rgb(16, 16, 16);
  color: #b7b7b7;
  /* text-align: justify; */
}
h1,
h2,
h3,
h4 {
  color: #cfc922;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
li {
  font-size: 20px;
}
/* footer p{
  font-size: 16px;
} */
/* article header p{
  font-style: italic;
} */
#author {
  font-style: italic;
  font-size: 18px;
}
.Copyright {
  font-size: 16px;
}
.battle-chronicles {
  font-size: 18px;
  font-weight: bold;
}
.battle-chronicles-list {
  list-style: none;
}
.main-header {
  background-color: rgba(25, 25, 25, 0.769);
}
aside {
  background-color: rgb(25, 25, 25, 0.769);
  border-top: 5px solid #cfc922;
  border-bottom: 5px solid #cfc922;
}
/* .first-li{
  font-weight: bold;
} */
article li:first-child {
  font-weight: bold;
}
article li:last-child {
  font-style: italic;
}
/* aside li:first-child{
  font-weight: bold;
} */
/* li:nth-child(2){
  color: #cfc922;
}
li:nth-child(even){
  color: #cfc922;
} */
article header p:first-child {
  font-style: italic;
}
/* Misconception this won't work */
article p:first-child {
  color: rgb(207, 201, 34);
}

/* Styling Links */
/* 4 states define in this exact order (links, visited, hover, active)  */
/* LVHA */
a:link{
  color: rgb(207, 201, 34);
  text-decoration: none;
}
a:visited{
  color: rgb(207, 201, 34);
}
a:hover{
  color:  darkgoldenrod;
  font-weight: bold;
  text-decoration: dotted darkgoldenrod;
  font-size: 19px;
  transition: 0.3s;
}
a:active{
  font-style: italic;
  font-size: 16px;
}
/* google chrome devtools (inspect elements)*/