body{
    font-family: sans-serif;
    background-color:black;
    color: white;
    /* text-align: justify; */
}
h1{
  color: #cfc922;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2{
  font-size: 40px;
  color: #cfc922;
}
h3{
  font-size: 30px;
  color: #cfc922;
}
h4{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #cfc922;
}
p{
  font-size: 22px;
  line-height: 1.5;
}
li{
  font-size: 20px;
}
/* footer p{
  font-size: 16px;
} */
/* article header p{
  font-style: italic;
} */
#author{
  font-style: italic;
  font-size: 18px;
}
.Copyright{
  font-size: 16px;
}
.battle-chronicles{
  font-size: 18px;
  font-weight: bold;
}
.battle-chronicles-list{
  list-style: none;
}