/* universal selector - Select every single elements parang default
at hindi sya na iinherit ng ibang elements  inaaply niya sa lahat ng elements
one of the lowest priority */

/* Universal Selector  */
* {
  /* border: 1px solid white; */
  margin: 0;
  padding: 0;
}
/* Page Sections */
body {
  font-family: sans-serif;
  background-color: rgb(16, 16, 16);
  color: #b7b7b7;
  border-top: 10px solid rgb(207, 201, 34);
}
.container {
  width: 800px;
  margin: 0 auto;
}
.main-header {
  background-color: #7d7d7d4b;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: auto;
}
/*? better way  */
nav {
  font-size: 18px;
}
article {
  margin-bottom: 60px;
}
.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: rgb(25, 25, 25, 0.769);
  border-top: 5px solid #cfc922;
  border-bottom: 5px solid #cfc922;
  padding: 50px 0px;
  width: 500px;
}
/* Small Elements */
h1,
h2,
h3,
h4 {
  color: #cfc922; /*override inherit styles*/
  /* border: 1px solid rgb(207, 201, 34); */
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}
li:last-child {
  margin: 0px;
}
/* footer p{
  font-size: 16px;
} */
/* article header p{
  font-style: italic;
} */
#author {
  font-style: italic;
  font-size: 18px;
}
.Copyright {
  font-size: 16px;
}
.battle-chronicles {
  font-size: 18px;
  font-weight: bold;
}
.battle-chronicles-list {
  list-style: none;
}

/* .first-li{
  font-weight: bold;
} */
article li:first-child {
  font-weight: bold;
}
article li:last-child {
  font-style: italic;
}
aside li:last-child {
  font-style: italic;
}
/* li:nth-child(2){
  color: #cfc922;
}
li:nth-child(even){
  color: #cfc922;
} */
article header p:first-child {
  font-style: italic;
}
/* Misconception this won't work */
article p:first-child {
  color: rgb(207, 201, 34);
}

/* Styling Links */
/* 4 states define in this exact order (links, visited, hover, active)  */
/* LVHA */
a:link {
  color: rgb(207, 201, 34);
  text-decoration: none;
}
/* a{
  color: red;
} */
a:visited {
  color: rgb(207, 201, 34);
}
a:hover {
  color: darkgoldenrod;
  font-weight: bold;
  text-decoration: dotted darkgoldenrod;
  font-size: 19px;
  transition: 0.4s;
}
a:active {
  font-style: italic;
  font-size: 16px;
}
/* google chrome devtools (inspect elements)*/

/* Resolving Conflict */
/* hover the selector to see all priority */
/* #copyright {
  color: rgb(207, 201, 34);
}
.Copyright {
  color: red;
}
.copyRight {
  color: blue;
}
footer p {
  color: green !important; 
} */

/** We dont need all of this  */
/* nav a:link,
nav p{
  font-size: 18px;
} */
.post-img {
  /* width: 800px; */
  /* if you change the size of the parent container the image still 100%  very important for responsive design */
  width: 100%; /* percentage of the width of the parent container */
  height: auto; /* adapt height based on content*/
}
nav a:link {
  /* background-color: orangered;  */
  /* margin: 20px; */
  /* padding: 20px; */
  /* display: block;  */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0px;
}
