body {
  border: 4px solid black;
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  border: 4px solid black;
}
/* Product - title */
.main-title {
  text-transform: uppercase;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 22px;
}
/* Product button */
.btn-addtocart {
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}
.btn-addtocart:hover {
  background-color: #fff;
  color: #000;
}
.details
/* Product details */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
}
-list {
  list-style: square;
}
.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:active,
.more-info:hover {
  text-decoration: none;
}
.price {
  font-size: 24px;
}
.shipping-fee {
  text-transform: uppercase;
  color: #777;
  font-size: 12px;
  font-weight: bold;
}
